%h1 Hello
= @page
= @found
%br
%ol
  - @notebooks.each do |notebook|
    %li #{notebook.name}

%button{:id => "select-all"}
  Toggle
= form_tag log_path, :method => "post" do
  %ul
    - @notes.notes.each do |note|
      %li
        = check_box_tag "notes[]", "#{note.guid}", false, {:id => "notes_#{note.guid}", :class => "weight-check"}
        %label{:for => "notes_#{note.guid}"}
          %span.date
            #{note.created}
          %span.title
            #{note.title}
  %input{:type => 'submit'}
= link_to "Previous #{@per_page}", logger_index_url(@prev_page)
= link_to "Next #{@per_page}", logger_index_url(@next_page)

%script{:type => "text/javascript"}
  :plain

    $().ready(function() {
      
      var clickEm = function() {
        $(".weight-check").each(function(idx, elem) {
          var toggle = !$(elem).prop('checked');
          $(elem).prop('checked', toggle);
        });
      }

      $('#select-all').click(function() {
        clickEm();
      });
    });
